doctype html
html 
  head
     title Notes

  body
     header
        h1 Notes app

        nav  
          a(href='/all-notes') All notes
          a(href='/archive') Archive
     block content     
